* {
  padding: o;
  margin: 0;
}
h3 {
  display: inline-block;
}
.container {
  padding-left: 40vw;
  margin-top: 5vh;
}
.data {
  margin: 10px;
  display: flex;
  width: 200px;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
img {
  width: 20px;
  height: 20px;
}
